.movie-card-list {
    padding: 77px 70px 10px;
    display: flex;
    flex-direction: column;
}

.movie-card-list__items {
    padding: 0;
    margin: 0;
    display: grid;
    gap: 36px 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    /* justify-items: start; */
    justify-items: center;
    min-height: 120px;
}

.movies-card-list__error {
    color: #a90422;
    grid-area: 1 / 1 / 2 / 4;
    text-align: center;
    margin: auto;
    line-height: normal;
    font-size: 22px;
}

@media screen and (min-width: 768px) and (max-width: 1180px) {
    .movie-card-list {
        padding: 87px 30px 0;
    }

    .movie-card-list__items {
        gap: 30px 28px;
    }
}

@media screen and (max-width: 480px) {
    .movie-card-list {
        padding: 26px 10px 50px;
    }

    .movie-card-list__items {
        gap: 30px 28px;
        justify-items: center;
    }
}

@media screen and (max-width: 350px) {
    .movie-card-list__items {
        gap: 33px;
    }

    .movies-card-list__error {
        font-size: 14px;
        margin-top: 100px;
    }

    .movie-card-list {
        padding: 65px 0px 10px;
    }
}