.portfolio {
    padding: 0 70px 155px;
}

.portfolio__title {
    margin: 0 0 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
}

.portfolio__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.portfolio__list-item {
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 0 9px;
}
.portfolio__list-item:last-of-type {
    border-bottom: none;
}

.portfolio__item:last-child {
    border-bottom: none;
    padding: 20px 0 0;
}

.portfolio__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -1.2px;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    color: #000;
}

.portfolio__website {
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -1.2px;
}

@media screen and (max-width: 768px) {
    .portfolio {
        padding: 0 50px 80px;
    }

    .portfolio__list-item {
        border-bottom: 1px solid #E6E6E6;
        padding: 10px 0 19px;
        margin: 0;
    }
    .portfolio__list-item:last-of-type {
        padding: 10px 0 0 0 ;
    }
    .portfolio__link {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) {
    .portfolio {
        padding: 0 14px 80px;
    }

    .portfolio__link {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px
    }

    .portfolio__website {
        font-size: 18px;
        line-height: 28px;
        letter-spacing: -0.72px;
    }
    .portfolio__list-item {
        padding: 12px 0 25px;
    }
    .portfolio__list-item:last-of-type {
        padding: 15px 0 19px;
    }
    .portfolio__title {
        font-size: 14px;
    }
}

