.search {
    padding: 50px 70px 0;
}

.search__form {
    height: 70px;
    margin-bottom: 69px;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #e8e8e8;
    width: 100%;
}

.search__form:focus-within {
    outline: 2px solid #fff;
}

.search__input-cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    height: 40px;
}

.search__input {
    width: calc(100% - 165px);
    display: flex;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    background: none;
    border: none;
    outline: none;
    color: #a0a0a0;
    cursor: pointer;
    padding: 0;
}

.search__input:focus::placeholder {
    color: transparent;
}

.search__input::placeholder {
    font-weight: 400;
    font-size: 28px;
    line-height: 20px;
    color: #8b8b8b;
}

.search__button {
    width: 59px;
    height: 34px;
    background-color: #3456f3;
    border-radius: 48px;
    border-style: none;
    outline: none;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    color: #fff;
    padding: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.search__button:disabled {
    opacity: 0.5;
}

.search__button:disabled:hover {
    opacity: 0.5;
    cursor: default;
}

.search__button:hover {
    opacity: 0.7;
}

.search__input-error {
    display: flex;
    justify-content: space-around;
    color: #ff3055;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    padding-left: 4px;
    margin: 0;
    min-height: 16px;
    box-sizing: border-box;
    text-align: center;
    line-height: 13px;
    opacity: 0;
}

.search__input-error_visible {
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .search {
        padding: 55px 30px 0;
    }

    .search__form {
        justify-content: end;
    }
}

@media screen and (max-width: 600px) {
    .search__input-cover {
        padding-top: 15px;
        border: none;
    }

    .search__checkbox-wrap {
        padding: 0;
        position: absolute;
        top: 110px;
    }

    .search__checkbox-title {
        font-size: 11px;
    }
}

@media screen and (max-width: 550px) {
    .search__icon {
        display: none;
    }

    .search__input {
        font-size: 18px;
    }

    .search__checkbox-wrap {
        margin: 0 auto 45px;
    }

    .search__form {
        justify-content: center;
    }

    .search {
        padding: 51px 14px 0;
    }

    .search__input::placeholder {
        font-size: 18px;
    }
}